* {
    --bg: seashell;
    --color: #222;

    /* Gobal colors */
    --w-bg: #ccc;
    --w-bg-hover: #eee;
    --w-bg-active: #eee;
    --w-shadow: #aaa;
    --w-shadow-inactive: #888;

    /* Toggle Widget colors */
    --w-tg-inactive-color: #222;
    --w-tg-inactive-bg: #0084ff;
    --w-tg-inactive-bg-hover: #3ea2ff;
    --w-tg-inactive-bg-active: #3ea2ff;
    --w-tg-active-color: rgb(255, 128, 0);
    --w-tg-active-bg: #dd3;
    --w-tg-active-bg-hover: #ee7;
    --w-tg-active-bg-active: #ee7;

    /* Slider colors */
    --w-sl-fill: #0084ff;
    --w-sl-fill-hover: #2696ff;
    --w-sl-fill-active: #3ea2ff;
    --w-sl-dots-size: 6px;
    --w-sl-dots: var(--w-sl-dots-size) dotted rgba(255, 255, 255, 0.7);

    /* Checkbox */
    --w-cb-inactive-outline: #ccc;
    --w-cb-inactive-outline-hover: #eee;
    --w-cb-inactive-outline-active: #eee;
    --w-cb-active-bg: #1d6;
    --w-cb-active-bg-hover: #5f9;
    --w-cb-active-bg-active: #5f9;
    
    /* Button Select */
    --w-sel-button: #eee;
    --w-sel-button-hover: white;
    --w-sel-button-active: white;
    --w-sel-button-selected: #0084ff;
    --w-sel-button-selected-hover: #3ea2ff;
    --w-sel-button-selected-active: #3ea2ff;

    /* Scrubber */
    --w-scr-nub: #eee;
    --w-scr-nub-active: white;
}